<p id="notice"><%= notice %></p>

<p>Press Ctrl+P to Print</p>

<p>
  <strong>First name:</strong>
  <%= @form.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @form.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @form.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @form.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @form.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @form.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @form.zipcode %>
</p>

<p>
  <strong>Cellphone number:</strong>
  <%= @form.cellphone_number %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @form.date_of_birth %>
</p>

<p>
  <strong>Social security number:</strong>
  <%= @form.social_security_number %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @form.gender %>
</p>

<p>
  <strong>Email addresses:</strong>
  <%= @form.email_addresses %>
</p>

<p>
  <strong>School:</strong>
  <%= @form.school %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @form.grade %>
</p>

<p>
  <strong>Race:</strong>
  <%= @form.race %>
</p>

<p>
  <strong>Indiviual graduation plan:</strong>
  <%= @form.indiviual_graduation_plan %>
</p>

<p>
  <strong>Special education services:</strong>
  <%= @form.special_education_services %>
</p>

<p>
  <strong>Free lunch:</strong>
  <%= @form.free_lunch %>
</p>

<p>
  <strong>Parent in prison:</strong>
  <%= @form.parent_in_prison %>
</p>

<p>
  <strong>Esl services:</strong>
  <%= @form.ESL_services %>
</p>

<p>
  <strong>Tshirt size:</strong>
  <%= @form.tshirt_size %>
</p>

<p>
  <strong>Doctor name:</strong>
  <%= @form.doctor_name %>
</p>

<p>
  <strong>Doctor workphone:</strong>
  <%= @form.doctor_workphone %>
</p>

<p>
  <strong>Medical restrictions:</strong>
  <%= @form.medical_restrictions %>
</p>

<p>
  <strong>Medical restrictions explained:</strong>
  <%= @form.medical_restrictions_explained %>
</p>

<p>
  <strong>Medications:</strong>
  <%= @form.medications %>
</p>

<p>
  <strong>Medications explained:</strong>
  <%= @form.medications_explained %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @form.allergies %>
</p>

<p>
  <strong>Allergies explained:</strong>
  <%= @form.allergies_explained %>
</p>

<p>
  <strong>Guardian1 contact name:</strong>
  <%= @form.guardian1_contact_name %>
</p>

<p>
  <strong>Guardian1 contact employment:</strong>
  <%= @form.guardian1_contact_employment %>
</p>

<p>
  <strong>Guardian1 contact workphone:</strong>
  <%= @form.guardian1_contact_workphone %>
</p>

<p>
  <strong>Guardian1 contact homephone:</strong>
  <%= @form.guardian1_contact_homephone %>
</p>

<p>
  <strong>Guardian1 contact cellphone:</strong>
  <%= @form.guardian1_contact_cellphone %>
</p>

<p>
  <strong>Guardian1 contact email:</strong>
  <%= @form.guardian1_contact_email %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @form.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contact relationship:</strong>
  <%= @form.emergency_contact_relationship %>
</p>

<p>
  <strong>Emergency contact workphone:</strong>
  <%= @form.emergency_contact_workphone %>
</p>

<p>
  <strong>Emergency contact cellphone:</strong>
  <%= @form.emergency_contact_cellphone %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
